#content{
    width: 450px;
    margin: 0 auto;
    padding: 0px 20px 20px;
    background: white;
    border: 2px solid navy;
}
h1{
    text-align: center;
    color: navy;
}
input{
    margin:0 auto;
    /* padding: 15px; */
    width: 20px;
    height: 20px;
}